@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Guides&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CZ:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import "tailwindcss";

@theme{
    --font-help: "Playwrite CZ", sans-serif;
    --font-secs: "Playwrite NZ Guides", cursive;
    --font-now: "Roboto", sans-serif;
    --font-hand: "Great Vibes", cursive;
}